{% extends 'index.html' %}
{% block page-content %}

    <div class="col-sm-4 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">可操作的主机列表1</h3>
                </div>
                <div class="panel-body">

                    <!--Link Items-->
                    <!--===================================================-->
                    <div class=" list-group bord-no">
                    {%  for host_group in request.user.host_group.all %}
                    <a class="list-group-item " href="#" onclick="functoggle(this)">{{ host_group.name }}

                    <span class="pull-right badge badge-purple">{{ host_group.bind_hosts.all.count  }}</span>
                    </a>

                            <ul>
                            <li><button class="check btn btn-xs btn-success btn-rounded btn-labeled ">
                            <span>全选</span>

                            </button></li>

                            {% for bind_host in host_group.bind_hosts.all %}
                                <li><input type="checkbox" tag="{{ bind_host.host.id }}">{{ bind_host.host.host_name }}-{{ bind_host.host.ip_addr }}@{{ bind_host.host_user.username }}</li>
                            {% endfor %}
                            </ul>

                    {% endfor %}
                    <a class="list-group-item" href="#" onclick="functoggle(this)">
                        未分组的主机
                        <span class="pull-right badge badge-purple">{{ request.user.bind_hosts.all.count  }}</span>
                    </a>

                    <ul>
                        <li>
                            <button class="check btn btn-xs btn-success btn-rounded btn-labeled ">
                                <span>全选</span>

                            </button>
                        </li>
                        {% for bind_host in request.user.bind_hosts.all %}
                            <li><input type="checkbox" tag="{{ bind_host.host.id }}">{{ bind_host.host.host_name }}-{{ bind_host.host.ip_addr }}@{{ bind_host.host_user.username }}</li>
                        {% endfor %}
                    </ul>

                </div>
                    <!--===================================================-->

                </div>
            </div>
    </div>


    <div class="col-sm-7 ">


        <!--Put the scrollbar inside the panel-->
        <!--===================================================-->
        <div class="panel">

            <!--Panel heading-->
            <div class="panel-heading">
                <h3 class="panel-title">命令 <button id='runcmd' class="btn btn-success pull-right">执行命令</button></h3>
            </div>

            <!--Panel body-->
            <div class="panel-body">
                <textarea class="form-control" name="" id="cmd-input" placeholder="cmd"></textarea>


            </div>
        </div>
        <!--===================================================-->
        <!--End scrollbar inside the panel-->
    </div>
{% endblock  %}
{% block script %}
    <script>
        $(function () {

            checkedall()
            run_cmd()
        })
        checkedall=function () {
            $('.check').on('click',function () {
                var tt=$(this).children().text()
                if (tt=='全选'){
                    $(this).children().text('全不选')
                    $(this).parent('li').siblings().find("input").prop("checked",true)
                }
                if(tt=='全不选'){
                    $(this).children().text('全选')
                    $(this).parent('li').siblings().find("input").prop("checked",false)
                }

            })
        }
        function functoggle(ele) {
            $(ele).next().toggle()
        }
        run_cmd=function () {
            $('#runcmd').on('click',function () {
                var cmd_input=$('#cmd-input').val().trim();
                if(cmd_input == ''){
                    alert('请输入命令');
                }
                var host_array=[]
                $(':checked').each(function () {

                    host_array.push($(this).attr('tag'))
                })
                if (host_array.length == 0){
                    alert('至少选择一个主机')
                    return false
                }
                console.log('run')
                var task_arguments={
                    'host_array':host_array,
                    'task_type':'cmd',
                    'cmd':cmd_input
                }


                $.ajax({
                    url:"{% url 'batch_task_mag' %}",
                    type:"POST",
                    data:{'task_args':JSON.stringify(task_arguments)},
                    headers:{"X-CSRFToken":$.cookie("csrftoken")},
                    success:function (callback) {
                        alert("当前总任务id"+callback)
                    }


                })

            })

        }




    </script>
{% endblock %}